body{
	margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

#main{
	display: flex;
	align-items: stretch;
	height: 100vh;
	width: 100vw;
}

#text textarea{
	box-sizing: border-box;
	outline: 0;
	resize: horizontal;
	width: 50vw;
	height: 100vh;
	margin: 0;
	border: 0;
	border-right: 0.2vw solid #ddd;
	padding: 5vh;
	overflow: auto;
}

#out {
	box-sizing: border-box;
	padding: 5vh;
}