body{
	margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

#main{
	display: flex;
	align-items: stretch;
	height: 100vh;
	width: 100vw;
}

#text textarea{
	box-sizing: border-box;
	outline: 0;
	resize: none;
	width: 50vw;
	height: 100vh;
	margin: 0;
	border: 0;
	padding: 5vh;
	overflow: auto;
}

#border{
	padding-left: 0.3vw;
	padding-right: 0.3vw;
	background-clip: content-box;
	height: 100vh;
	width: 0.2vw;
	background-color: #ddd;
	cursor: ew-resize;
}

#out {
	box-sizing: border-box;
	padding: 5vh;
	flex-grow: 1;
	width: auto;
	word-wrap: break-word;
	overflow: auto;
}

#out p{
	text-align: justify;
	text-justify: inter-word;
}

@media print {
  #text, textarea {
    display: none;
  }
  #border {
	display: none;
  }
}

#input {
	display: none;
}